    <div class="container-fluid contactFooter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Have a Project in Mind? Let's Talk! Coffee is on us!</h1>
          </div>
          <div class="col-md-12">
            <form action="/mail" method="POST">
              <input class="form-control" type="text" name="name" placeholder="Michael Carniato" required />
              <input class="form-control" type="email" name="email" placeholder="michael@alacritywebdev.com.au" required />
              <input class="form-control form-control-danger" type="tel" name="phone" placeholder="0425 487 689" required/>
              <input class="form-control form-control-danger" type="text" name="subject" placeholder="Subject" required/>
              <input class="form-control form-control-danger" type="text" name="message" placeholder="Hi, I'd like to work together!" required/>
              <button class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
