    <div class="container-fluid contactFooter topPadding5P">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Ready to Start? Let's Talk! Coffee is on us!</h1>
          </div>
          <div class="col-md-12 topPadding50 bottomPadding100">
            <form action="/mail" method="POST">
              <div class="d-flex flex-wrap justify-content-between contactFormWrapper">
                <div class=" contactInput">
                  <input class="name" type="text" name="name" placeholder="Full Name*" required />
                </div>
                <div class="contactInput">
                  <input class="email" type="email" name="email" placeholder="Email*" required />
                </div>
                <div class="contactInput">
                  <input class="phone" type="tel" name="phone" placeholder="Phone Number*" required/>
                </div>
                <div class="contactInput">
                  <input class="subject" type="text" name="subject" placeholder="Subject*" required/>
                </div>
                <div class="fullWidth contactInput topPadding50">
                  <input class="fullWidth message" type="text" name="message" placeholder="Describe Your Project in a few Sentences" required/>
                </div>
                <div class="fullWidth topPadding30 bottomPadding20">
                  <button
                    class="g-recaptcha btn btn-primary contactFormButton textShadow"
                    data-sitekey="6LfMjxgUAAAAAPxcmMOl0Gb1P3QKyXDWDHegyiGg"
                    data-callback=onSubmit()>
                    Submit
                  </button>
                </div>
                <div class="fullWidth text-center loader">
                  <div class="icon"></div>
                </div>
                <div class="contactMessage text-center fullWidth displayNone">
                  <h5 class="responseMessage"></h5>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid copyrightContainerBackground">
      <div class="row copyrightContainer">
        <div class="copyrightText">
          <span>Copyright @Alacrity Web Development <%= new Date().getFullYear(); %>. All Rights Reserved</span>
        </div>
        <ul class="legalLinks ml-auto d-flex flex-row">
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
          <li><a href="/disclaimer">Disclaimer</a></li>
        </ul>
    </div>
  </div>
    <script type="text/javascript" src="/app.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/js/jquery.counterup.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
    function onSubmit() {
      $("form").submit(function(event) {
        event.preventDefault();
        let formData = {
          name: $('.name').val(),
          email: $('.email').val(),
          phone: $('.phone').val(),
          subject: $('.subject').val(),
          message: $('.message').val(),
        }

        $('.loader .icon').addClass('ajaxLoader');

        $.ajax({
          type: "POST",
          url: "/mail",
          data: JSON.stringify(formData),
          contentType: "application/json; charset=UTF-8",
          dataType: 'text',
          success: function() {

            $('.loader').hide();
            $('.responseMessage').text('Message Sent Successfully! Thank you for contacting us!');
            $('.contactMessage').delay(100).slideDown( 1000 );
          },
          error: function() {
            $('.loader').hide();
            $('.responseMessage').addClass('responseMessageError').text('Message Did Not Send. Try Again Later');
            $('.contactMessage').delay(100).slideDown( 1000 );
          }
        });
      });
    }
    </script>
  </body>
</html>
