<header class="transparentBar">
  <nav class="navbar topSecondaryNavbar">
    <ul class="nav navbar-nav ml-auto flex-row">
      <li class="nav-item">
        <a class="nav-link" href="tel:+61424158107"><i class="fa fa-phone navbarContactIcon" aria-hidden="true"></i>0424 158 107</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:michael@alacritywebdev.com.au"><i class="fa fa-envelope navbarContactIcon" aria-hidden="true"></i>Email</a>
      </li>
    </ul>
  </nav>
  <nav class="navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img class="logo" src="http://res.cloudinary.com/alacrity-web-development/image/upload/v1488852761/Alacrity%20Web%20Development%20White%20Logo.png"/>
      <img class="fixedLogo displayNone" src="http://res.cloudinary.com/alacrity-web-development/image/upload/c_scale,w_50/v1487296555/Alacrity%20Icon%20White%20-%20Small.png"/>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/our-work">Our Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="navSpacer">&nbsp;</div>
