<% include ./partials/head %>
    <meta charset="utf-8">
    <meta name=”description” content="Alacrity Web Developement specialize in website design, ">
    <title>Alacrity Web Development | 404 Page</title>
</head>
<body class="error404Page">
<% include ./partials/secondaryHeader %>

<% include ./partials/footer %>
