<% include ./partials/head %>
    <meta charset="utf-8">
    <meta name=”description” content="Alacrity Web Developement specialize in website design, ">
    <title>Alacrity Web Development: 404 Page</title>
</head>
<body class="error404Page">
<% include ./partials/secondaryHeader %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Oh No! Looks Like You Took a Wrong Turn and Came Across a Page That Doesn't Exist! More Than Likely it was our Fault so Here's a Random Picture of a Cute Animal. At Least This Way Your Trip Wasn't a Total Waste.</h2>
      <img class="img-fluid cat404" src="" alt="">
    </div>
  </div>
</div>

<% include ./partials/footer %>
