<% include ./partials/head %>
    <meta charset="utf-8">
    <meta name=”description” content="Create a website that truly captures the essence of who you are. Here at Alacrity Web Development we collaborate with you to create exactly what you want.">
    <title>Alacrity Web Development: About</title>
</head>
<% include ./partials/header %>

<div class="container-fluid viewPortHeight60 aboutHeroImage heroImage">
  <div class="container">
    <div class="row viewPortHeight60 d-flex justify-content-center align-items-center">
      <div class="col-md-12 text-center animated fadeIn">
        <h1 class="textShadow">About Alacrity Web Development</h1>
      </div>
    </div>
  </div>
</div>
<div class="container topBottomPadding30">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>We're All About Cooperation</h1>
      <div class="seperator"></div>
      <p>What if you could positively change the world by effectively communicating your unique value? Our experience is that when people cooperate by sharing their uniqueness, evolutionary ideas are born. Together, we can create so much more. This is because cooperation leads to synergy – a term defined by R. Buckminster Fuller as ‘… the behaviour of the whole unpredicted by its parts.’<br /><br /> When we share – rather than withhold – our uniqueness, we positively support the world. We inspire others to get curious, to create and to grow. We evolve together. At Alacrity Web Development, we cooperate with you to create evolutionary ideas that capture your unique value. We do this because we know it will not just benefit you, it will benefit the world.</p>
    </div>
  </div>
</div>
<div class="container-fluid topBottomPadding30 aboutWhoWeAre textShadow">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h1>Who We Are</h1>
        <div class="seperatorLeft whiteSeperator"></div>
        <p>Alacrity Web Development is result of the unique experiences of Founder Michael Carniato. Early in life, Michael dreamed of developing video games. Life happened - and this dream faded from Michael’s awareness until he felt a calling to start programming. Michael realised the power and importance of sharing his value. <br /><br />Inspired by the words of R. Buckminster Fuller, Michael saw that he – like everyone else on Earth – was “one of a kind.” Michael saw that he could best serve humanity by providing his unique value. Michael has the uncanny ability to deeply connect to you who are. <br /><br />He is masterful at drawing out what it is that makes you unique, and then presenting that to the world through high quality web design. Based in Brunswick East, Melbourne, Michael is passionate about supporting people and businesses with their web design and data analysis requirements.</p>
        <a href="/contact-us" class="btn btn-primary btn-lg">Contact Us!</a>
      </div>
    </div>
  </div>
</div>
<div class="container topBottomPadding30">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Our Mission</h1>
      <div class="seperator"></div>
      <p>We inspire change in the world by shining the light on your unique value and encouraging you to share it. By showcasing your unique value, you inspire others to get curious, to create and to grow. You inspire the evolution of humanity.</p>
    </div>
  </div>
</div>
<div class="container topBottomPadding30">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>What We Believe In</h1>
      <div class="seperator"></div>
      <div class="row">
        <div class="col-md-4 aboutBelieveIn">
          <span class="fontAwesomeIcon"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
          <h4 class="bottomPadding10">Cooperation</h4>
          <p>We believe in the power of sharing diversity in order to inspire and create evolutionary ideas.</p>
        </div>
        <div class="col-md-4 aboutBelieveIn">
          <span class="fontAwesomeIcon"><i class="fa fa-shield" aria-hidden="true"></i></span>
          <h4 class="bottomPadding10">Integrity</h4>
          <p>We honour our word and operate from a place of deep honesty and truth.</p>
        </div>
        <div class="col-md-4 aboutBelieveIn">
          <span class="fontAwesomeIcon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <h4 class="bottomPadding10">Community</h4>
          <p>We believe that, together, we are better – and that great fulfilment in life comes when we are surrounded by a supportive, nurturing community.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid servicesContainer topBottomPadding30 textShadow">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h1>Our Capabilities</h1>
        <div class="seperator whiteSeperator"></div>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-pencil-square-o bottomPadding10" aria-hidden="true"></i></span>
        <h4>Web &amp; UI Design</h4>
        <p>At Alacrity Web Development, we create designs that are intuitive and inspirational. Our designs are an experience and work to lift business </p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-code bottomPadding10" aria-hidden="true"></i></span>
        <h4>Web Development</h4>
        <p>We cater for all of your web development requirements. We quickly develop websites and our attention to detail is what makes the difference.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-wrench bottomPadding10" aria-hidden="true"></i></span>
        <h4>Website Maintenance</h4>
        <p>We see websites as an opportunity - a space - to create an experience. We believe that experiences should be cultivated and maintained.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-shopping-cart bottomPadding10" aria-hidden="true"></i></span>
        <h4>Ecommerce Integration</h4>
        <p>Are you looking to start your own online store? If so, we can support you to set it up so you can start selling quickly.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-line-chart bottomPadding10" aria-hidden="true"></i></span>
        <h4>Data Analysis</h4>
        <p>We have expertise in data analysis and, through our processes, can provide you with the information you need to improve your business.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-handshake-o bottomPadding10" aria-hidden="true"></i></span>
        <h4>Consulting</h4>
        <p>We have worked with businesses of all sizes in both Australia and the United States. With our experience, we can support you to optimise your business so that it is more resilient and scalable. </p>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
