<% include ./partials/head %>
    <meta charset="utf-8">
    <meta name=”description” content="Alacrity Web Developement specialize in website design, ">
    <title>Alacrity Web Development | About</title>
</head>
<% include ./partials/header %>

<div class="container-fluid viewPortHeight60 aboutHeroImage heroImage">
  <div class="container">
    <div class="row viewPortHeight60 d-flex justify-content-center align-items-center">
      <div class="col-md-12 text-center animated fadeInLeft">
        <h1 class="textShadow">About Alacrity Web Development</h1>
      </div>
    </div>
  </div>
</div>
<div class="container topBottomPadding30">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>We're All About Cooperation</h1>
      <div class="seperator"></div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</div>
<div class="container-fluid topBottomPadding30 aboutWhoWeAre textShadow">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1>Who We Are</h1>
        <div class="seperatorLeft whiteSeperator"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="btn btn-primary btn-lg">Contact Us!</a>
      </div>
    </div>
  </div>
</div>
<div class="container topBottomPadding30">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Our Mission</h1>
      <div class="seperator"></div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</div>
<div class="container topBottomPadding30">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>What We Believe In</h1>
      <div class="seperator"></div>
      <div class="row">
        <div class="col-md-4 aboutBelieveIn">
          <span class="fontAwesomeIcon"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
          <h4 class="bottomPadding10">Cooperation</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-4 aboutBelieveIn">
          <span class="fontAwesomeIcon"><i class="fa fa-shield" aria-hidden="true"></i></span>
          <h4 class="bottomPadding10">Integrity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-4 aboutBelieveIn">
          <span class="fontAwesomeIcon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <h4 class="bottomPadding10">Community</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid servicesContainer topBottomPadding30 textShadow">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h1>Our Capabilities</h1>
        <div class="seperator whiteSeperator"></div>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-pencil-square-o bottomPadding10" aria-hidden="true"></i></span>
        <h4>Web &amp; UI Design</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-code bottomPadding10" aria-hidden="true"></i></span>
        <h4>Web Development</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-wrench bottomPadding10" aria-hidden="true"></i></span>
        <h4>Website Maintenance</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-shopping-cart bottomPadding10" aria-hidden="true"></i></span>
        <h4>Ecommerce Integration</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-line-chart bottomPadding10" aria-hidden="true"></i></span>
        <h4>Data Analysis</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 aboutServiceItemWrapper">
        <span class="fontAwesomeIcon"><i class="fa fa-handshake-o bottomPadding10" aria-hidden="true"></i></span>
        <h4>Consulting</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
