<% include ./partials/head %>
    <meta charset="utf-8">
    <title>Alacrity Web Development | Home</title>
</head>
<% include ./partials/header %>
  <div class="container-fluid heroImage">
    <div class="container">
      <div class="row viewPortHeight d-flex justify-content-center align-items-center">
        <div class="col-md-12 text-center animated fadeInLeft">
          <h1>We Create Web Design Layouts</h1>
          <h2>That Contribute to a flexible, smooth, and scaleable website</h2>
          <div class="seperator"></div>
          <a href="/" class="btn btn-primary btn-lg textShadow">Let's Get Your Project Started!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container topPadding50">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>About Alacrity Web Development</h1>
        <div class="seperator"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="row text-center topPadding50">
      <div class="col-md-4 col-sm-6 rightBorderSeperator paddingLeft paddingRight">
        <span class="fontAwesomeIcon"><i class="fa fa-file-code-o" aria-hidden="true"></i></span>
        <h2 class="topPadding20">Modern<br />Design</h2>
        <p class="topPadding10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-md-4 col-sm-6 rightBorderSeperator">
        <span class="fontAwesomeIcon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
        <h2 class="topPadding20">Data<br />Analysis</h2>
        <p class="topPadding10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <span class="fontAwesomeIcon"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
        <h2 class="topPadding20">Frequent<br />Communication</h2>
        <p class="topPadding10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>
  <div class="container topPadding80 bottomPadding50">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>Our Work</h1>
        <div class="seperator"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid containerTopPadding">
    <div class="row d-flex viewHeight100 homeOurWorkRow homeOurWorkGridColor">
      <a href="/">
        <div style="background-image: url('http://res.cloudinary.com/alacrity-web-development/image/upload/v1487234869/Home/Alacrity_Web_Development_-_Our_Work.jpg')" class="col-md-6 noPadding backgroundImage homeOurWorkGridOne text-center d-flex align-items-center">
          <div class="col-md-12 homeOurWorkTextWrapper">
            <h3>Glenlyon Dental</h3>
            <div class="seperator homeOurWorkSeperator"></div>
            <h4>Responsive One Page Website</h4>
          </div>
        </div>
      </a>
      <a href="/">
        <div style="background-image: url('http://res.cloudinary.com/alacrity-web-development/image/upload/v1487232802/Home/Alacrity_Web_Development_-_Our_Work_2.jpg')" class="col-md-6 noPadding backgroundImage homeOurWorkGridTwo text-center d-flex align-items-center">
          <div class="col-md-12 homeOurWorkTextWrapper">
           <h3>Barefoot Blender</h3>
           <div class="seperator whiteSeperator"></div>
           <h4>Health Food Company with eCommerce Functionality</h4>
          </div>
        </div>
      </a>
      <a href="/">
        <div style="background-image: url('http://res.cloudinary.com/alacrity-web-development/image/upload/v1487239452/Home/Alacrity_Web_Development_-_Our_Work_6.jpg')" class="col-md-3 noPadding backgroundImage homeOurWorkGridThree text-center d-flex align-items-center">
          <div class="col-md-12 homeOurWorkTextWrapper">
           <h3>Juicing Retreats</h3>
           <div class="seperator homeOurWorkSeperator"></div>
           <h4>Website for Promoting the Healthy Lifestyle</h4>
          </div>
        </div>
      </a>
      <a href="/">
        <div style="background-image: url('http://res.cloudinary.com/alacrity-web-development/image/upload/v1487239119/Home/Alacrity_Web_Development_-_Our_Work_5.jpg')" class="col-md-3 noPadding backgroundImage homeOurWorkGridFour text-center d-flex align-items-center">
          <div class="col-md-12 homeOurWorkTextWrapper">
            <h3>Hollander Fitness</h3>
            <div class="seperator homeOurWorkSeperator"></div>
            <h4>Fitness Blog Built With Wordpress</h4>
          </div>
        </div>
      </a>
      <a href="/">
        <div style="background-image: url('http://res.cloudinary.com/alacrity-web-development/image/upload/v1487240059/Home/Alacrity_Web_Development_-_Our_Work_4.jpg')" class="col-md-6 noPadding backgroundImage homeOurWorkGridFive text-center d-flex align-items-center">
          <div class="col-md-12 homeOurWorkTextWrapper">
            <h3>AskTHEO</h3>
            <div class="seperator homeOurWorkSeperator"></div>
            <h4>eCommerce Site Built on Wordpress</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="container topPadding50 bottomPadding20">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>Working With Us</h1>
        <div class="seperator"></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>
  <div class="container bottomPadding40">
    <div class="row">
      <div class="col-md-12 homeBenefits homeBenefitsOne notActive">
        <h5><a href="#benefitOne" data-toggle="collapse">DEDICATED PROJECT MANAGER</a></h5>
        <div id="benefitOne" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <div class="col-md-12 homeBenefits homeBenefitsTwo notActive">
        <h5><a href="#benefitTwo" data-toggle="collapse">COOPERATION</a></h5>
        <div id="benefitTwo" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <div class="col-md-12 homeBenefits homeBenefitsThree notActive">
        <h5><a href="#benefitThree" data-toggle="collapse">WE WORK WITH YOU</a></h5>
        <div id="benefitThree" class="collapse">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>
<% include ./partials/footer %>
