<% include ./partials/head %>
    <meta charset="utf-8">
    <meta name=”description” content="Want to work with website creators that are flexible, do great work, and enjoy collaborating with you to create exactly what you want? Contact us now!">
    <title>Alacrity Web Development</title>
</head>
<% include ./partials/header %>
  <div class="container-fluid heroImage">
    <div class="container">
      <div class="row viewPortHeight d-flex justify-content-center align-items-center">
        <div class="col-md-12 text-center animated fadeIn">
          <h1>Share Your Unique Value With The World</h1>
          <h2>We Capture What Makes You, You.</h2>
          <div class="seperator"></div>
          <a id="homeProjectStart" href="#contactFormAnchor" class="btn btn-primary btn-lg textShadow">Let's Get Your Project Started!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container topPadding30">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>About Alacrity Web Development</h1>
        <div class="seperator"></div>
        <p>We believe you are unique. We believe there is something only you can offer to the world. At Alacrity Web Development, we capture your unique value and communicate it through high quality web development and design.</p>
      </div>
    </div>
    <div class="row text-center topPadding20">
      <div class="col-md-4 col-sm-6 rightBorderSeperator paddingLeft paddingRight homeServiceSummaryContainer">
        <span class="fontAwesomeIcon"><i class="fa fa-file-code-o" aria-hidden="true"></i></span>
        <h2 class="topPadding20">Modern<br />Design</h2>
        <p class="topPadding10">We specialise in web development and design that captures your value and showcases it to the world.</p>
      </div>
      <div class="col-md-4 col-sm-6 rightBorderSeperator homeServiceSummaryContainer">
        <span class="fontAwesomeIcon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
        <h2 class="topPadding20">Data<br />Analysis</h2>
        <p class="topPadding10">Through our expertise in data analysis, we work with you to ensure you consistently add your value to the people who need it.</p>
      </div>
      <div class="col-md-4 col-sm-6 homeServiceSummaryContainer">
        <span class="fontAwesomeIcon"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
        <h2 class="topPadding20">Frequent<br />Communication</h2>
        <p class="topPadding10">Let’s take a journey together from start to finish. We understand great design ‘speaks’ and through frequent communication, we ensure each step is projecting your unique essence. </p>
      </div>
    </div>
  </div>
  <div class="container topPadding30 bottomPadding50">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>Our Work</h1>
        <div class="seperator"></div>
        <p>Every person and business in the world has something unique to offer. Diversity is so important. This is why we work with people and businesses from all walks of life. </p>
      </div>
    </div>
  </div>
  <div class="container-fluid containerTopPadding">
    <div class="row d-flex homeOurWorkRow homeOurWorkGridColor">
      <a href="/our-work/glenlyon-dental">
        <div class="col-md-6 col-sm-12 noPadding backgroundImage homeOurWorkGridOne text-center d-flex align-items-center">
          <div class="col-md-12 overlayTextWrapper">
            <h3>Glenlyon Dental</h3>
            <div class="seperator whiteSeperator"></div>
            <h4>A Dentist with a Fantastic Bedside Manner</h4>
            <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
          </div>
        </div>
      </a>
      <a href="/our-work/barefoot-blender">
        <div class="col-md-6 col-sm-12 noPadding backgroundImage homeOurWorkGridTwo text-center d-flex align-items-center">
          <div class="col-md-12 overlayTextWrapper">
           <h3>Barefoot Blender</h3>
           <div class="seperator whiteSeperator"></div>
           <h4>Showing the World How Simple Healthy Living is</h4>
           <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
          </div>
        </div>
      </a>
      <a href="/our-work/tegan-steele">
        <div class="col-md-3 col-sm-12 noPadding backgroundImage homeOurWorkGridThree text-center d-flex align-items-center">
          <div class="col-md-12 overlayTextWrapper">
           <h3>Tegan Steele</h3>
           <div class="seperator whiteSeperator"></div>
           <h4>A Health Coaches Personal Brand</h4>
           <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
          </div>
        </div>
      </a>
      <a href="/our-work/hollander-fitness">
        <div class="col-md-3 col-sm-12 noPadding backgroundImage homeOurWorkGridFour text-center d-flex align-items-center">
          <div class="col-md-12 overlayTextWrapper">
            <h3>Hollander Fitness</h3>
            <div class="seperator whiteSeperator"></div>
            <h4>Fitness for the Body &amp; the Mind</h4>
            <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
          </div>
        </div>
      </a>
      <a href="/our-work/asktheo">
        <div class="col-md-6 col-sm-12 noPadding backgroundImage homeOurWorkGridFive text-center d-flex align-items-center">
          <div class="col-md-12 overlayTextWrapper">
            <h3>AskTHEO</h3>
            <div class="seperator whiteSeperator"></div>
            <h4>For the Spiritual Believer</h4>
            <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="container-fluid statisticsContainer topBottomPadding50">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 bottomPadding30">
          <h1>What We've Delivered</h1>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="statisticsContainerBox">
            <span style="font-size: 50px;" class="counter">7</span>
            <h4>Apprecitive Clients</h4>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="statisticsContainerBox">
            <span style="font-size: 50px;" class="counter">7</span>
            <h4>10/10 Experiences</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="container topBottomPadding50">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="testimonials">
            <div class="singleTestimonial">
              <p>Websites stressed me out in the past but Michael has taken away all the stress and anxiety I had towards them. Michael is so quick and efficient. He really takes the time to understand you to be able to reflect your personality and needs. He is also a great teacher in using the site and explaining the procedures which leaves me feeling confident and excited. I absolutely love my website and I am so proud of what I am sharing. Thank you</p>
              <h3><strong>Tegan Steele, <a href="/">tegansteele.com</a></strong></h3>
            </div>
            <div class="singleTestimonial">
              <p>Michael's positive and patient attitude along with his skills and willingness to tackle a project makes working with him a delight. He is bright, quick, and responsive. I always look forward to working with him!</p>
              <h3><strong>Stephanie Pappas, <a href="/">AskTHEO</a></strong></h3>
            </div>
            <div class="singleTestimonial">
              <p>Michael was very patient with my busy schedule and nothing was an issue at all throughout the time we took to build the website.</p>
              <h3><strong>Ben Richards, <a href="/">The Seeds of Life</a></strong></h3>
            </div>
            <div class="singleTestimonial">
              <p>Michael was quick to receive and implement feedback on desired changes. The result was a website im happy with with a nice layout and simple features.</p>
              <h3><strong>James Lowthian, <a href="/">Barefoot Blender</a></strong></h3>
            </div>
          </div>
          <div class="col-md-12 topPadding30">
            <h3 class="bottomPadding20">Ready to Work With Us?</h3>
            <a class="btn btn-primary testimonialContact btn-lg" href="/contact-us">Contact Us Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container topPadding50 bottomPadding20">
    <div class="row text-center">
      <div class="col-md-12">
        <h1>Working With Us</h1>
        <div class="seperator"></div>
        <p>When you work with us, we take you on a journey of self-discovery. <span>We create and offer an experience.</span> We support you to showcase your uniqueness through high quality web development and design. You can then showcase yourself to the world. Are you ready?</p>
      </div>
    </div>
  </div>
  <div class="container bottomPadding40">
    <div class="row">
      <div class="col-md-12 homeBenefits homeBenefitsOne notActive">
        <h5><a href="#benefitOne" data-toggle="collapse">DEDICATION TO YOU</a></h5>
        <div id="benefitOne" class="collapse">
          We work with care to create the perfect web design for you. From start to finish, we are dedicated to meeting and exceeding your expectations. We are always a phone call or email away.
        </div>
      </div>
      <div class="col-md-12 homeBenefits homeBenefitsTwo notActive">
        <h5><a href="#benefitTwo" data-toggle="collapse">COOPERATION</a></h5>
        <div id="benefitTwo" class="collapse">
          Your thoughts matter. Our experience is that when many thoughts are shared, evolutionary ideas are born. This is cooperation in action. At Alacrity, we cooperate with you to ensure your website speaks with all you want to say.
        </div>
      </div>
      <div class="col-md-12 homeBenefits homeBenefitsThree notActive">
        <h5><a href="#benefitThree" data-toggle="collapse">WE WORK WITH YOU</a></h5>
        <div id="benefitThree" class="collapse">
          There is more potential when we work together. This is why we work with you – to capture and communicate your dynamic value – from start to finish.
        </div>
      </div>
    </div>
  </div>
<% include ./partials/footer %>
