<% include ./partials/header %>
  <div class="container-fluid homeHeroImage">
    <div class="container">
      <div class="row viewPortHeight d-flex justify-content-center align-items-center">
        <div class="col-md-12 text-center">
          <h1>We Create Web Design Layouts</h1>
          <h2>That Contribute to a flexible, smooth, and scaleable website</h2>
          <div class="seperator"></div>
          <a href="/" class="btn btn-primary btn-lg textShadow">Let's Get Your Project Started!</a>
        </div>
      </div>
    </div>
  </div>
<% include ./partials/footer %>
