<% include ./partials/head %>
    <meta charset="utf-8">
    <meta name=”description” content="">
    <title>Alacrity Web Development | Our Work</title>
</head>
<% include ./partials/header %>

<div class="container-fluid viewPortHeight60 ourWorkHeroImage heroImage">
  <div class="container">
    <div class="row viewPortHeight60 d-flex justify-content-center align-items-center">
      <div class="col-md-12 text-center animated fadeIn">
        <h1 class="textShadow">Our Work</h1>
      </div>
    </div>
  </div>
</div>
<div class="container topBottomPadding30 text-center">
  <div class="row">
    <div class="col-md-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row ourWorkRow">
    <a href="/our-work" class="col-lg-4 col-md-6 noPadding text-center ourWorkItem">
      <div class="col-md-12 noPadding">
        <img class="img-fluid" src="http://res.cloudinary.com/alacrity-web-development/image/upload/v1487907967/Tegan%20Steele.jpg"/>
        <div class="overlayTextWrapper ourWorkText">
          <h3>Tegan Steele</h3>
          <div class="seperator whiteSeperator"></div>
          <h4 class="bottomPadding10">A Health Coaches Personal Brand</h4>
          <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
    <a href="/our-work" class="col-lg-4 col-md-6 noPadding text-center ourWorkItem">
      <div class="col-md-12 noPadding">
        <img class="img-fluid" src="http://res.cloudinary.com/alacrity-web-development/image/upload/v1487239119/Home/Alacrity_Web_Development_-_Our_Work_5.jpg"/>
        <div class="overlayTextWrapper ourWorkText">
          <h3>Hollander Fitness</h3>
          <div class="seperator whiteSeperator"></div>
          <h4 class="bottomPadding10">Fitness for the Body &amp; the Mind</h4>
          <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
    <a href="/our-work" class="col-lg-4 col-md-6 noPadding text-center ourWorkItem displayNone">
      <div class="col-md-12 noPadding">
        <img class="img-fluid" src="http://res.cloudinary.com/alacrity-web-development/image/upload/v1487908335/Luminus%20Solutions.jpg"/>
        <div class="overlayTextWrapper ourWorkText">
          <h3>Luminus Solutions</h3>
          <div class="seperator whiteSeperator"></div>
          <h4>Deliverying Under Cabinent Lighting with a Smile</h4>
        </div>
      </div>
    </a>
    <a href="/our-work" class="col-lg-4 col-md-6 noPadding text-center ourWorkItem">
      <div class="col-md-12 noPadding">
        <img class="img-fluid" src="http://res.cloudinary.com/alacrity-web-development/image/upload/v1487910191/The%20Seeds%20of%20Life.jpg"/>
        <div class="overlayTextWrapper ourWorkText">
          <h3>The Seeds of Life</h3>
          <div class="seperator whiteSeperator"></div>
          <h4>Bringing Raw Food to the Masses</h4>
          <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
    <a href="/our-work" class="col-lg-4 col-md-6 noPadding text-center ourWorkItem">
      <div class="col-md-12 noPadding">
        <img class="img-fluid" src="http://res.cloudinary.com/alacrity-web-development/image/upload/v1487240059/Home/Alacrity_Web_Development_-_Our_Work_4.jpg"/>
        <div class="overlayTextWrapper ourWorkText">
          <h3>AskTHEO</h3>
          <div class="seperator whiteSeperator"></div>
          <h4>For the Spiritual Believer</h4>
          <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
    <a href="/our-work" class="col-lg-4 col-md-6 noPadding text-center ourWorkItem">
      <div class="col-md-12 noPadding">
        <img class="img-fluid" src="http://res.cloudinary.com/alacrity-web-development/image/upload/bo_0px_solid_rgb:000/v1487907573/Glenlyon%20Dental.jpg"/>
        <div class="overlayTextWrapper ourWorkText">
          <h3>Glenlyon Dental</h3>
          <div class="seperator whiteSeperator"></div>
          <h4>A Dentist with a Fantastic Bedside Manner</h4>
          <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
    <a href="/our-work" class="col-lg-4 col-md-6 noPadding text-center ourWorkItem">
      <div class="col-md-12 noPadding">
        <img class="img-fluid" src="http://res.cloudinary.com/alacrity-web-development/image/upload/v1487910815/Barefoot%20Blender%202.jpg"/>
        <div class="overlayTextWrapper ourWorkText">
          <h3>Barefoot Blender</h3>
          <div class="seperator whiteSeperator"></div>
          <h4>Showing the World How Simple Healthy Living is</h4>
          <span class="fontAwesomeIcon"><i class="fa fa-link bottomPadding10" aria-hidden="true"></i></span>
        </div>
      </div>
    </a>
  </div>
</div>
<% include ./partials/footer %>
