<div class="container-fluid">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 bottomPadding40 leftRightPadding50">
        <span class="fontAwesomeIcon"><i class="fa fa-pencil-square-o bottomPadding10" aria-hidden="true"></i></span>
        <h4 class="bottomPadding20">Web &amp; UI Design</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 bottomPadding40 leftRightPadding50">
        <span class="fontAwesomeIcon"><i class="fa fa-code bottomPadding10" aria-hidden="true"></i></span>
        <h4 class="bottomPadding20">Web Development</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 bottomPadding40 leftRightPadding50">
        <span class="fontAwesomeIcon"><i class="fa fa-wrench bottomPadding10" aria-hidden="true"></i></span>
        <h4 class="bottomPadding20">Website Maintenance</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 bottomPadding40 leftRightPadding50">
        <span class="fontAwesomeIcon"><i class="fa fa-shopping-cart bottomPadding10" aria-hidden="true"></i></span>
        <h4 class="bottomPadding20">Ecommerce Integration</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 bottomPadding40 leftRightPadding50">
        <span class="fontAwesomeIcon"><i class="fa fa-line-chart bottomPadding10" aria-hidden="true"></i></span>
        <h4 class="bottomPadding20">Data Analysis</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-md-4 bottomPadding40 leftRightPadding50">
        <span class="fontAwesomeIcon"><i class="fa fa-handshake-o bottomPadding10" aria-hidden="true"></i></span>
        <h4 class="bottomPadding20">Consulting</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
    </div>
  </div>
</div>
