@import "../base/_variables.sass"

.homeHeroImage
  background: url('http://res.cloudinary.com/alacrity-web-development/image/upload/b_rgb:000,bo_1px_solid_rgb:000,o_45/v1487142839/Alacrity%20Web%20Development/Alacrity_Web_Development_Hero.jpg')
  height: 100vh
  background-size: cover
  background-repeat: no-repeat
  color: $white

.viewPortHeight
  height: 100vh
