.transparentBar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 99999;
}

.spacer {
  width: 100%;
  margin-top: 80px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff;
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar-brand {
  cursor: default;
}

.navbar-brand img {
  cursor: pointer;
}

.sticky {
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 176, 220, 0.9);
  box-shadow: 0 1px 3px #7b7b7b;
}

.heroImage {
  background: url("http://res.cloudinary.com/alacrity-web-development/image/upload/v1487381995/Alacrity_Web_Development_Hero_Overlay.jpg");
  height: 100%;
  color: #ffffff;
}

.aboutHeroImage {
  background: url("http://res.cloudinary.com/alacrity-web-development/image/upload/b_rgb:000,bo_0px_solid_rgb:000,o_55/v1487647264/Alacrity%20Web%20Development%20About.jpg");
  height: 100%;
  color: #ffffff;
}

.viewPortHeight {
  height: 100vh;
}

.viewPortHeight60 {
  height: 60vh;
}

.seperator, .seperatorLeft {
  border-bottom: 3px solid #00b0dc;
  max-width: 10%;
  margin: 20px auto;
}

.seperatorLeft {
  margin: 20px 0;
  max-width: 100px;
}

/*White Seperator*/
.whiteSeperator {
  border-color: #ffffff;
}

.topPadding10 {
  padding-top: 10px;
}

.topPadding20 {
  padding-top: 20px;
}

.topPadding5P {
  padding-top: 5%;
}

.topPadding30 {
  padding-top: 30px;
}

.topPadding50 {
  padding-top: 50px;
}

.topPadding80 {
  padding-top: 80px;
}

.noPadding {
  padding: 0;
}

.bottomPadding5P {
  padding-bottom: 5%;
}

.bottomPadding10 {
  padding-bottom: 10px;
}

.bottomPadding20 {
  padding-bottom: 20px;
}

.bottomPadding40 {
  padding-bottom: 40px;
}

.bottomPadding50 {
  padding-bottom: 50px;
}

.bottomPadding100 {
  padding-bottom: 100px;
}

.paddingLeft {
  padding-left: 20px;
}

.paddingRight {
  padding-right: 20px;
}

.topBottomPadding30, .aboutServiceItemWrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.leftRightPadding50 {
  padding-left: 50px;
  padding-right: 50px;
}

.leftRightPadding30, .aboutServiceItemWrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.backgroundImage, .heroImage, .aboutHeroImage, .aboutWhoWeAre {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay:hover .homeOurWorkTextWrapper, .homeOurWorkGridOne:hover .homeOurWorkTextWrapper, .homeOurWorkGridTwo:hover .homeOurWorkTextWrapper, .homeOurWorkGridThree:hover .homeOurWorkTextWrapper, .homeOurWorkGridFour:hover .homeOurWorkTextWrapper, .homeOurWorkGridFive:hover .homeOurWorkTextWrapper {
  opacity: 1;
}

.overlay:before, .homeOurWorkGridOne:before, .homeOurWorkGridTwo:before, .homeOurWorkGridThree:before, .homeOurWorkGridFour:before, .homeOurWorkGridFive:before {
  opacity: 0;
  transition: 0.5s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 176, 220, 0.9);
}

.overlay:hover:before, .homeOurWorkGridOne:hover:before, .homeOurWorkGridTwo:hover:before, .homeOurWorkGridThree:hover:before, .homeOurWorkGridFour:hover:before, .homeOurWorkGridFive:hover:before {
  opacity: 1;
}

.transparentBackground {
  transition: all 0.5s;
}

.displayNone {
  display: none;
}

.rightBorderSeperator {
  border-right: 1px solid #ccc;
}

.leftRightBorderSeperator {
  border-left: 1px solid;
  border-right: 1px solid;
}

.topBorderSeperator {
  border-top: 1px solid;
}

.viewHeight100 {
  height: 100vh;
}

/* One Third Column*/
.oneThird {
  width: 33.3%;
}

.oneFourth {
  width: 25%;
}

.fullWidth {
  width: 100%;
}

.homeOurWorkRow {
  position: relative;
}

.homeOurWorkGridOne {
  height: 70%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 3s ease-in-out;
}

.homeOurWorkGridTwo {
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.homeOurWorkGridThree {
  height: 30%;
  position: absolute;
  left: 25%;
  top: 70%;
}

.homeOurWorkGridFour {
  height: 30%;
  position: absolute;
  left: 0;
  top: 70%;
}

.homeOurWorkGridFive {
  height: 50%;
  position: absolute;
  right: 0;
  top: 50%;
}

.homeOurWorkTextWrapper {
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 9999;
  text-shadow: 1px 1px 1px #313131;
}

.homeBenefits {
  border-top: 1px solid #ccc;
  padding: 30px;
}

.aboutWhoWeAre {
  background: url("http://res.cloudinary.com/alacrity-web-development/image/upload/b_rgb:000,bo_0px_solid_rgb:000,o_55/v1487653776/Alacrity_Web_Development_-_Who_We_Are_yh5se6.jpg");
  color: #ffffff;
}

.servicesContainer {
  background-color: #00b0dc;
  color: #ffffff;
}

.servicesContainer .fontAwesomeIcon .fa {
  color: #ffffff;
}

.seperator, .seperatorLeft {
  border-bottom: 3px solid #00b0dc;
  max-width: 10%;
  margin: 20px auto;
}

.seperatorLeft {
  margin: 20px 0;
  max-width: 100px;
}

/*White Seperator*/
.whiteSeperator {
  border-color: #ffffff;
}

.topPadding10 {
  padding-top: 10px;
}

.topPadding20 {
  padding-top: 20px;
}

.topPadding5P {
  padding-top: 5%;
}

.topPadding30 {
  padding-top: 30px;
}

.topPadding50 {
  padding-top: 50px;
}

.topPadding80 {
  padding-top: 80px;
}

.noPadding {
  padding: 0;
}

.bottomPadding5P {
  padding-bottom: 5%;
}

.bottomPadding10 {
  padding-bottom: 10px;
}

.bottomPadding20 {
  padding-bottom: 20px;
}

.bottomPadding40 {
  padding-bottom: 40px;
}

.bottomPadding50 {
  padding-bottom: 50px;
}

.bottomPadding100 {
  padding-bottom: 100px;
}

.paddingLeft {
  padding-left: 20px;
}

.paddingRight {
  padding-right: 20px;
}

.topBottomPadding30, .aboutServiceItemWrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.leftRightPadding50 {
  padding-left: 50px;
  padding-right: 50px;
}

.leftRightPadding30, .aboutServiceItemWrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.backgroundImage, .heroImage, .aboutHeroImage, .aboutWhoWeAre {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay:hover .homeOurWorkTextWrapper, .homeOurWorkGridOne:hover .homeOurWorkTextWrapper, .homeOurWorkGridTwo:hover .homeOurWorkTextWrapper, .homeOurWorkGridThree:hover .homeOurWorkTextWrapper, .homeOurWorkGridFour:hover .homeOurWorkTextWrapper, .homeOurWorkGridFive:hover .homeOurWorkTextWrapper {
  opacity: 1;
}

.overlay:before, .homeOurWorkGridOne:before, .homeOurWorkGridTwo:before, .homeOurWorkGridThree:before, .homeOurWorkGridFour:before, .homeOurWorkGridFive:before {
  opacity: 0;
  transition: 0.5s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 176, 220, 0.9);
}

.overlay:hover:before, .homeOurWorkGridOne:hover:before, .homeOurWorkGridTwo:hover:before, .homeOurWorkGridThree:hover:before, .homeOurWorkGridFour:hover:before, .homeOurWorkGridFive:hover:before {
  opacity: 1;
}

.transparentBackground {
  transition: all 0.5s;
}

.displayNone {
  display: none;
}

.rightBorderSeperator {
  border-right: 1px solid #ccc;
}

.leftRightBorderSeperator {
  border-left: 1px solid;
  border-right: 1px solid;
}

.topBorderSeperator {
  border-top: 1px solid;
}

.contactFooter {
  background-color: #02101d;
  color: #ffffff;
}

.copyrightContainerBackground {
  background-color: #010a11;
}

.copyrightContainer {
  width: 1090px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.responseMessage {
  background: #ffffff;
  padding: 20px;
  border: 2px solid #00b0dc;
  border-radius: 4px;
  position: relative;
  color: #292b2c;
}

.responseMessageError {
  background: #ff1b1b;
  border: 2px solid rgba(255, 27, 27, 0.5);
  color: #ffffff;
}

.contactInput {
  border-bottom: 1px solid #ffffff;
  margin: 10px;
}

.contactInput input {
  background: none;
  border: none;
  color: #ffffff;
  padding-bottom: 10px;
}

.contactInput input:focus {
  outline: none;
  color: #ffffff;
}

.contactInput ::-webkit-input-placeholder {
  color: #ffffff;
}

.contactInput :-moz-placeholder {
  color: #ffffff;
}

.contactInput ::-moz-placeholder {
  color: #ffffff;
}

.contactInput :-ms-input-placeholder {
  color: #ffffff;
}

.ajaxLoader {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.ajaxLoader:after, .ajaxLoader:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid transparent;
  border-top-color: #00b0dc;
  border-bottom-color: #00b0dc;
  animation: spinny 1s linear infinite;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  50% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #292b2c;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #00b0dc;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

p {
  font-size: 1.125rem;
}

.textShadow {
  text-shadow: 3px 1px 5px #313131;
}

.homeOurWorkGridColor a {
  color: #ffffff;
}

.notActive a:after, .activeToggle a:after {
  content: "\f067";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #00b0dc;
  font-size: 18px;
  padding-left: 0.5em;
  position: relative;
}

.activeToggle a:after {
  content: "\f068";
}

/*Copyright Text*/
.copyrightText {
  color: #ffffff;
  font-size: 0.8rem;
}

.blackText {
  color: #292b2c;
}

.seperator, .seperatorLeft {
  border-bottom: 3px solid #00b0dc;
  max-width: 10%;
  margin: 20px auto;
}

.seperatorLeft {
  margin: 20px 0;
  max-width: 100px;
}

/*White Seperator*/
.whiteSeperator {
  border-color: #ffffff;
}

.topPadding10 {
  padding-top: 10px;
}

.topPadding20 {
  padding-top: 20px;
}

.topPadding5P {
  padding-top: 5%;
}

.topPadding30 {
  padding-top: 30px;
}

.topPadding50 {
  padding-top: 50px;
}

.topPadding80 {
  padding-top: 80px;
}

.noPadding {
  padding: 0;
}

.bottomPadding5P {
  padding-bottom: 5%;
}

.bottomPadding10 {
  padding-bottom: 10px;
}

.bottomPadding20 {
  padding-bottom: 20px;
}

.bottomPadding40 {
  padding-bottom: 40px;
}

.bottomPadding50 {
  padding-bottom: 50px;
}

.bottomPadding100 {
  padding-bottom: 100px;
}

.paddingLeft {
  padding-left: 20px;
}

.paddingRight {
  padding-right: 20px;
}

.topBottomPadding30, .aboutServiceItemWrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.leftRightPadding50 {
  padding-left: 50px;
  padding-right: 50px;
}

.leftRightPadding30, .aboutServiceItemWrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.backgroundImage, .heroImage, .aboutHeroImage, .aboutWhoWeAre {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay:hover .homeOurWorkTextWrapper, .homeOurWorkGridOne:hover .homeOurWorkTextWrapper, .homeOurWorkGridTwo:hover .homeOurWorkTextWrapper, .homeOurWorkGridThree:hover .homeOurWorkTextWrapper, .homeOurWorkGridFour:hover .homeOurWorkTextWrapper, .homeOurWorkGridFive:hover .homeOurWorkTextWrapper {
  opacity: 1;
}

.overlay:before, .homeOurWorkGridOne:before, .homeOurWorkGridTwo:before, .homeOurWorkGridThree:before, .homeOurWorkGridFour:before, .homeOurWorkGridFive:before {
  opacity: 0;
  transition: 0.5s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 176, 220, 0.9);
}

.overlay:hover:before, .homeOurWorkGridOne:hover:before, .homeOurWorkGridTwo:hover:before, .homeOurWorkGridThree:hover:before, .homeOurWorkGridFour:hover:before, .homeOurWorkGridFive:hover:before {
  opacity: 1;
}

.transparentBackground {
  transition: all 0.5s;
}

.displayNone {
  display: none;
}

.rightBorderSeperator {
  border-right: 1px solid #ccc;
}

.leftRightBorderSeperator {
  border-left: 1px solid;
  border-right: 1px solid;
}

.topBorderSeperator {
  border-top: 1px solid;
}

.btn-primary {
  background-color: #00b0dc;
  border-color: #00b0dc;
  font-weight: 400;
}

.btn-primary:hover {
  background-color: #007D9A;
  border-color: #007D9A;
}

.contactFooter button {
  width: 100%;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}

.fontAwesomeIcon .fa {
  font-size: 4rem;
  color: #00b0dc;
}
