/* line 3, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/layout/_header.sass */
.transparentBar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 99999;
}

/* line 9, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/layout/_header.sass */
.spacer {
  width: 100%;
  margin-top: 80px;
}

/* line 13, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/layout/_header.sass */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  cursor: pointer;
}

/* line 17, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/layout/_header.sass */
.navbar-nav .nav-item .nav-link {
  color: #ffffff;
  padding-right: 2rem;
  padding-left: 2rem;
}

/* line 22, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/layout/_header.sass */
.navbar-brand {
  cursor: default;
}

/* line 25, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/layout/_header.sass */
.navbar-brand img {
  cursor: pointer;
}

/* line 3, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/layout/_hero-image.sass */
.homeHeroImage {
  background: url("http://res.cloudinary.com/alacrity-web-development/image/upload/b_rgb:000,bo_1px_solid_rgb:000,o_45/v1487142839/Alacrity%20Web%20Development/Alacrity_Web_Development_Hero.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

/* line 10, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/layout/_hero-image.sass */
.viewPortHeight {
  height: 100vh;
}

/* line 3, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/modules/_typography.sass */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* line 6, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/modules/_typography.sass */
.textShadow {
  text-shadow: 3px 1px 5px #313131;
}

/* line 3, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/modules/_components.sass */
.seperator {
  border-bottom: 3px solid #00b0dc;
  max-width: 10%;
  margin: 40px auto;
}

/* line 3, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/modules/_buttons.sass */
.btn-primary {
  background-color: #00b0dc;
  border-color: #00b0dc;
  font-weight: 300;
}

/* line 7, C:/Users/Michael/Dropbox/Web Design Business/Alacrity Website/Alacrity Website/static/sass/modules/_buttons.sass */
.btn-primary:hover {
  background-color: #007D9A;
  border-color: #007D9A;
}

/*# sourceMappingURL=../css/main.map */