<% include ../partials/head %>
  <meta charset="utf-8">
  <meta name=”description” content="Alacrity Web Developement specialize in website design, ">
  <title>Alacrity Web Development | AskTheo Website</title>
</head>
<body class="ourWorkAskTheoPage">
<% include ../partials/secondaryHeader %>
  <div class="container-fluid viewPortHeight60 portfolioAskTheoHero heroImage">
    <div class="container">
      <div class="row viewPortHeight60 d-flex justify-content-center align-items-center">
        <div class="col-md-12 text-center animated fadeInLeft">
          <h1 class="textShadow"></h1>
        </div>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
