<% include ../partials/head %>
  <meta charset="utf-8">
  <meta name=”description” content="Want to build an online store with membership capabilities? Alacrity Web Development did just that for a team called AskTHEO. Check out their site here!">
  <title>Alacrity Web Development: AskTheo Website</title>
</head>
<body class="ourWorkAskTheoPage">
<% include ../partials/secondaryHeader %>
  <div class="container-fluid viewPortHeight60 portfolioAskTheoHero heroImage">
    <div class="container">
      <div class="row viewPortHeight60 d-flex justify-content-center align-items-start">
        <div class="col-md-12 text-center topPadding5P">
          <img class="img-fluid" src="http://res.cloudinary.com/alacrity-web-development/image/upload/q_100/v1489487543/Alacrity%20Web%20Development%20-%20AskTheo%20Logo.png" alt="Alacrity Web Development - AskTheo Logo">
          <h1 class="textShadow topPadding30">Responsive Website with Membership & eCommerce Functionality</h1>
          <a class="portfolioHeroLink" href="http://www.asktheo.com" target="_blank"><h2 class="topPadding5P">Have a Look</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 topBottomPadding50 portfolioDescription">
        <h4>Sheila and Marcus Gillette are co-founders of The THEO Group, an organisation dedicated to sharing the wisdom teachings of the twelve archangels who speak through Sheila known as THEO. THEO is here to guide humanity to a higher state of consciousness.</h4>
      </div>
      <div class="col-lg-12 col-md-12 bottomPadding30">
        <h3><strong>AskTHEO Meditations and Dialogues</strong></h3>
        <p>Sheila and Marcus host a popular web series called "AskTHEO Live". They then share these series online with their audience. Along with their web series they sell digital recordings known as THEO Guided Mediatations and THEO Dialogues. The guided meditations provide the listener with a specific experience, and designed to heighten your vibrational frequency.  Most AskTHEO Dialogues are in a Q&A format with THEO and Marcus, while others are recordings produced from live events. Have a look at AskTHEO <span><u><a class="linkTag" href="https://web.archive.org/web/20160112165805/http://www.asktheo.com/" target="_blank">before</a></u></span>, and <span><u><a class="linkTag" href="https://www.asktheo.com/" target="_blank">after</a></u></span>.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/c_scale,w_1000/v1489492222/Alacrity%20Web%20Development%20-%20AskTHEO%20Meditation.jpg" alt="Alacrity Web Development - AskTHEO Meditation">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/c_scale,w_1000/v1489492678/Alacrity%20Web%20Development%20-%20AskTHEO%20Dialogue.jpg" alt="Alacrity Web Development - AskTHEO Dialogue">
      </div>
    </div>
  </div>
  <div class="container topBottomPadding30">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Membership & eCommerce Integration</strong></h3>
        <p>AskTHEO sells products ranging from live events, website memberships, audio downloads, and books. We used Woocommerce along with Wordpress to add, swap, and update products.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489499095/Alacrity%20Web%20Development%20-%20AskTHEO%20eCommerce.jpg" alt="Alacrity Web Development - AskTHEO eCommerce">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489500416/Alacrity%20Web%20Development%20-%20AskTHEO%20Membership.jpg" alt="Alacrity Web Development - AskTHEO Membership">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489500061/Alacrity%20Web%20Development%20-%20AskTHEO%20eCommerce%202.jpg" alt="Alacrity Web Development - AskTHEO eCommerce 2">
      </div>
    </div>
  </div>

<% include ../partials/footer %>
