<% include ../partials/head %>
  <meta charset="utf-8">
  <meta name=”description” content="Alacrity Web Developement specialize in website design, ">
  <title>Alacrity Web Development | Barefoot Blender</title>
</head>
<body class="ourWorkBarefootBlenderPage">
<% include ../partials/secondaryHeader %>
  <div class="container-fluid viewPortHeight60 portfolioBarefootBlenderHero heroImage">
    <div class="container">
      <div class="row viewPortHeight60 d-flex justify-content-center align-items-start">
        <div class="col-md-12 text-center topPadding5P">
          <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489730340/Alacrity%20Web%20Development%20-%20Barefoot%20Blender%20Logo.png" alt="Alacrity Web Development - Barefoot Blender Logo">
          <h1 class="textShadow topPadding30">Showing the World How Simple Healthy Living is</h1>
          <a class="portfolioHeroLink" href="http://www.barefootblender.com" target="_blank"><h2 class="topPadding5P">Have a Look</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 topBottomPadding50 portfolioDescription">
        <h4>Barefoot Blender is a smoothie van travelling to all Australia's music festivals. They want to share what they call the "barefoot vibe". This vibe is centered around great music, healthy food, and creating a space with good vibes.</h4>
      </div>
      <div class="col-lg-12 col-md-12 bottomPadding30">
        <h3><strong>Showing the World how Easy Healthy Living is</strong></h3>
        <p>Barefoot Blender's goal is to "show the world how easy healthy living is". I've volunteered in their van on many occasions, and they deliver what they set out to do. Their primary product is smoothies they make from fruits, coconut water, nuts, and seeds. They wanted to provide people with the resources to live this way outside of festivals. That's when James (founder of Barefoot Blender) came to Alacrity Web Development asking to build a site that represented is brand. Check out Barefoot Blender <span><u><a class="linkTag" target="_blank" href="http://barefootblender.com">here</a></u></span>.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489730923/Alacrity%20Web%20Development%20-%20Barefoot%20Blender%20Mango.jpg" alt="Alacrity Web Development - Barefoot Blender Mango">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489730923/Alacrity%20Web%20Development%20-%20Barefoot%20Blender%20Blueberries.jpg" alt="Alacrity Web Development - Barefoot Blender Blueberries">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489730923/Alacrity%20Web%20Development%20-%20Barefoot%20Blender%20Rasberries.jpg" alt="Alacrity Web Development - Barefoot Blender Rasberries">
      </div>
    </div>
  </div>
  <div class="container topBottomPadding30">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Juice Cleanses & Health Programs</strong></h3>
        <p>Along with an accurate representation of the brand, James wanted to set up eCommerce and health programs. With a plugin called Woocommerce, we were able to set James up with selling juices cleanses and health programs in no time at all!</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489731591/Alacrity%20Web%20Development%20-%20Barefoot%20Blender%20Byron.jpg" alt="Alacrity Web Development - Barefoot Blender Byron">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489731591/Alacrity%20Web%20Development%20-%20Barefoot%20Blender%20Van.jpg" alt="Alacrity Web Development - Barefoot Blender Van">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489731591/Alacrity%20Web%20Development%20-%20Barefoot%20Blender%20Byron%202.jpg" alt="Alacrity Web Development - Barefoot Blender Byron 2">
      </div>
    </div>
  </div>

<% include ../partials/footer %>
