<% include ../partials/head %>
  <meta charset="utf-8">
  <meta name=”description” content="Want a single page website? With little content you may not need a multi page site that takes away from UX. We did this for Glenlyon Dental. Check it out!">
  <title>Alacrity Web Development: Glenlyon Dental</title>
</head>
<body class="ourWorkGlenlyonDentalPage">
<% include ../partials/secondaryHeader %>
  <div class="container-fluid viewPortHeight60 portfolioGlenlyonDentalHero heroImage">
    <div class="container">
      <div class="row viewPortHeight60 d-flex justify-content-center align-items-start">
        <div class="col-md-12 text-center topPadding5P">
          <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489757217/Alacrity%20Web%20Development%20-%20Glenlyon%20Dental%20Logo.png" alt="Alacrity Web Development - Glenlyon Dental Logo">
          <h1 class="textShadow topPadding30">A Dentist with a Fantastic Bedside Manner</h1>
          <a class="portfolioHeroLink" href="http://www.glenlyondental.com.au" target="_blank"><h2 class="topPadding5P">Have a Look</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 topBottomPadding50 portfolioDescription">
        <h4>Glenlyon Dental Clinic is a clinic based in Melbourne, Victoria. Their key focus is making coming to the dentist a joyful experience. I've experienced their care first hand and can tell you they deliver.</h4>
      </div>
      <div class="col-lg-12 col-md-12 bottomPadding30">
        <h3><strong>Ease of Use</strong></h3>
        <p>When Mani (founder of Glenlyon Dental) came to me and asked to update his website, one of the first things I asked him was "how many pages?". This wasn't to get a price, it was to establish if he in fact needed a multi-page site. Judging by the look of his old site it seemed odd to create many pages for such little content. So I said, "Mani let's make this a single page website".<br><br>Instead of people having to click on links, refresh the page, go to another link, refresh again. We put everything on one page, enhancing the user experience. Have a look at Glenlyon Dental <span><u><a class="linkTag" target="_blank" href="https://web.archive.org/web/20160109195324/http://glenlyondental.com.au/">before</a></u></span>, and <span><u><a class="linkTag" target="_blank" href="http://glenlyondental.com.au/">after</a></u></span>.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489757925/Alacrity%20Web%20Development%20-%20Glenlyon%20Dental%20Team.jpg" alt="Alacrity Web Development - Glenlyon Dental Team">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489757925/Alacrity%20Web%20Development%20-%20Glenlyon%20Dental%20Team%204.jpg" alt="Alacrity Web Development - Glenlyon Dental Team 4">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489757925/Alacrity%20Web%20Development%20-%20Glenlyon%20Dental%20Team%203.jpg" alt="Alacrity Web Development - Glenlyon Dental Team 3">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489757925/Alacrity%20Web%20Development%20-%20Glenlyon%20Dental%20Team%202.jpg" alt="Alacrity Web Development - Glenlyon Dental Team 2">
      </div>
    </div>
  </div>
  <div class="container topBottomPadding30">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Education & Professionalism</strong></h3>
        <p>Mani wanted to showcase his expertise in the field of dentistry. So we put several of his services with a popup to show his knowledge. Along with all these benefits Mani wanted a way for people to contact him with specific details. Thanks to our knowledge with Wordpress, we were able to accommodate.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489758441/Alacrity%20Web%20Development%20-%20Glenlyon%20Dental%20Clinic.jpg" alt="Alacrity Web Development - Glenlyon Dental Clinic">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489758441/Alacrity%20Web%20Development%20-%20Glenlyon%20Dental%20Clinic%203.jpg" alt="Alacrity Web Development - Glenlyon Dental Clinic 3">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489758440/Alacrity%20Web%20Development%20-%20Glenlyon%20Dental%20Clinic%202.jpg" alt="Alacrity Web Development - Glenlyon Dental Clinic 2">
      </div>
    </div>
  </div>

<% include ../partials/footer %>
