<% include ../partials/head %>
  <meta charset="utf-8">
  <meta name=”description” content="Alacrity Web Developement specialize in website design, ">
  <title>Alacrity Web Development | Hollander Fitness</title>
</head>
<body class="ourWorkHollanderFitnessPage">
<% include ../partials/secondaryHeader %>
  <div class="container-fluid viewPortHeight60 portfolioHollanderFitnessHero heroImage">
    <div class="container">
      <div class="row viewPortHeight60 d-flex justify-content-center align-items-start">
        <div class="col-md-12 text-center topPadding5P">
          <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489715337/Alacrity_Web%20Development%20-%20Tegan%20Steele%20Logo.png" alt="Alacrity_Web Development - Tegan Steele Logo">
          <h1 class="textShadow topPadding30">A Health Coaches Personal Brand</h1>
          <a class="portfolioHeroLink" href="http://www.asktheo.com" target="_blank"><h2 class="topPadding5P">Have a Look</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 topBottomPadding50 portfolioDescription">
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
      </div>
      <div class="col-lg-12 col-md-12 bottomPadding30">
        <h3><strong>Tegan's Personal Brand</strong></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489717359/Alacrity%20Web%20Development%20-%20Tegan%203.jpg" alt="Alacrity Web Development - Tegan 2">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489717358/Alacrity%20Web%20Development%20-%20Tegan%201.jpg" alt="Alacrity Web Development - Tegan 1">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489717359/Alacrity%20Web%20Development%20-%20Tegan%202.jpg" alt="Alacrity Web Development - Tegan 3">
      </div>
    </div>
  </div>
  <div class="container topBottomPadding30">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Recipes, Blogs & eCommerce Integration</strong></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489718266/Alacrity_Web%20Development%20-%20Tegan%20Recipe%201.jpg" alt="Alacrity Web Development - Tegan Recipe 1">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489718615/Alacrity%20Web%20Development%20-%20Bamboo%20Toothbrushes.jpg" alt="Alacrity Web Development - Bamboo Toothbrushes">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489718266/Alacrity%20Web%20Development%20-%20Tegan%20Recipe%202.jpg" alt="Alacrity Web Development - Tegan Recipe 2">
      </div>
    </div>
  </div>

<% include ../partials/footer %>
