<% include ../partials/head %>
  <meta charset="utf-8">
  <meta name=”description” content="Alacrity Web Developement specialize in website design, ">
  <title>Alacrity Web Development | Hollander Fitness</title>
</head>
<body class="ourWorkHollanderFitnessPage">
<% include ../partials/secondaryHeader %>
  <div class="container-fluid viewPortHeight60 portfolioHollanderFitnessHero heroImage">
    <div class="container">
      <div class="row viewPortHeight60 d-flex justify-content-center align-items-start">
        <div class="col-md-12 text-center topPadding5P">
          <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489759667/Alacrity%20Web%20Development%20-%20Hollander%20Fitness%20Logo.png" alt="Alacrity Web Development - Hollander Fitness Logo">
          <h1 class="textShadow topPadding30">Fitness for the Body & the Mind</h1>
          <a class="portfolioHeroLink" href="http://www.hollanderfitness.com" target="_blank"><h2 class="topPadding5P">Have a Look</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 topBottomPadding50 portfolioDescription">
        <h4>Andrea Hollander struggled for years with negative body image, an eating disorder, and was in hospital 4 times. After she had a cardiac arrest and was in a coma for a week, she woke up recognising she had been given a second chance. This led to her creation of Hollander Fitness. She wanted to share her story with the world and help in any way she could. That's where Alacrity Web Development came in.</h4>
      </div>
      <div class="col-lg-12 col-md-12 bottomPadding30">
        <h3><strong>Fitness For The Body & The Mind</strong></h3>
        <p>Along with being a personal trainer, Andrea is also an expert in eating disorders, over exercising, and dieting. She wanted her site to reflect these aspects of her life, along with sharing all her knowledge and know how.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489760074/Alacrity%20Web%20Development%20-%20Hollander%20Fitness%20Photo.jpg" alt="Alacrity Web Development - Hollander Fitness Photo">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489760074/Alacrity%20Web%20Development%20-%20Hollander%20Fitness%20Photo%203.jpg" alt="Alacrity Web Development - Hollander Fitness Photo 3">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489760074/Alacrity%20Web%20Development%20-%20Hollander%20Fitness%20Photo%202.jpg" alt="Alacrity Web Development - Hollander Fitness Photo 2">
      </div>
    </div>
  </div>
  <div class="container topBottomPadding30">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Real Talk & Instagram</strong></h3>
        <p>Andrea is an avid Instagrammer, showcasing new exercises, showing what delicious food she is eating that day, or providing encouragement. Andrea wanted her Instagram feed to be one of the focal points of her site, we did this via an API (application programming interface). Along with her Instagram feed she releases frequent blog posts she calls, Real Talk. Where she writes about her experiences relating to eating disorders and how to overcome it.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489761529/Alacrity%20Web%20Development%20-%20Hollander%20Fitness%20Photo%207.jpg" alt="Alacrity Web Development - Tegan Recipe 1">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489761529/Alacrity%20Web%20Development%20-%20Hollander%20Fitness%20Photo%205.jpg" alt="Alacrity Web Development - Bamboo Toothbrushes">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489761529/Alacrity%20Web%20Development%20-%20Hollander%20Fitness%20Photo%204.jpg" alt="Alacrity Web Development - Tegan Recipe 2">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489761529/Alacrity%20Web%20Development%20-%20Hollander%20Fitness%20Photo%206.jpg" alt="Alacrity Web Development - Tegan Recipe 1">
      </div>
    </div>
  </div>

<% include ../partials/footer %>
