<% include ../partials/head %>
  <meta charset="utf-8">
  <meta name=”description” content="Want a website that perfectly captures the essence of all you stand for? We collaborated with Seeds of Life to create just that. Check it out here!">
  <title>Alacrity Web Development: The Seeds Of Life</title>
</head>
<body class="ourWorkSeedsOfLifePage">
<% include ../partials/secondaryHeader %>
  <div class="container-fluid viewPortHeight60 portfolioSeedsOfLife heroImage">
    <div class="container">
      <div class="row viewPortHeight60 d-flex justify-content-center align-items-start">
        <div class="col-md-12 text-center topPadding5P">
          <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489845109/Alacrity%20Web%20Development%20-%20Seeds%20of%20Life%20Logo.png" alt="Alacrity Web Development - AskTheo Logo">
          <h1 class="textShadow topPadding30">Bringing Raw Food To The Masses</h1>
          <a class="portfolioHeroLink" href="http://www.theseedsoflife.net" target="_blank"><h2 class="topPadding5P">Have a Look</h2></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 topBottomPadding50 portfolioDescription">
        <h4>The Seeds of Life is a raw food cafe in Ubud, Bali. None of there food is cooked above 48 degrees (celsius) and is all sourced from farmers within the surrounding villages of Ubud. Twice a year the owner, Ben runs training's to prepare and deliver foods like the cafe. </h4>
      </div>
      <div class="col-lg-12 col-md-12 bottomPadding30">
        <h3><strong>The Seeds Of Life Raw Food Chef Certification</strong></h3>
        <p>Ben created the training's to provide insight into the world of raw food. He teaches all about produce identification, equipment, flavor balancing, dairy free alternatives, fermentation, and much more. Ben wants to empower people to live the healthiest lives they can, and he does this through raw food. Here is The Seeds of Life <span><u><a class="linkTag" href="https://web.archive.org/web/20160113005344/theseedsoflife.net" target="_blank">before</a></u></span> and <span><u><a href="http://www.theseedsoflife.net/" class="linkTag" target="_blank">after.</a></u></span></p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489877211/Alacrity%20Web%20Development%20-%20Seeds%20of%20Life%20Student%204.jpg" alt="Alacrity Web Development - AskTHEO Meditation">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489877211/Alacrity%20Web%20Development%20-%20Seeds%20of%20Life%20Students.jpg" alt="Alacrity Web Development - AskTHEO Dialogue">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489877211/Alacrity%20Web%20Development%20-%20Seeds%20of%20Life%20Student%202.jpg" alt="Alacrity Web Development - AskTHEO Dialogue">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489877211/Alacrity%20Web%20Development%20-%20Seeds%20of%20Life%20Student%203.jpg" alt="Alacrity Web Development - AskTHEO Dialogue">
      </div>
    </div>
  </div>
  <div class="container topBottomPadding30">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12">
        <h3><strong>Showcasing The Retreat</strong></h3>
        <p>When we first started creating The Seeds of Life website we found it difficult to capture the essence of what made The Seeds of Life special. We wanted to show off the wonder the students felt as they created something extraordinary, or when the students took a bite of their first raw meal. Togetherness is what Ben strives for in his retreats, and through constant collaboration we brought that feeling into his website.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid noPadding portfolioFullWidthImages">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489846881/Alacrity%20Web%20Development%20-%20Seeds%20of%20Life%20Food%203.jpg" alt="Alacrity Web Development - AskTHEO eCommerce">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489846357/Alacrity%20Web%20Development%20-%20Seeds%20of%20Life%20Food%202.jpg" alt="Alacrity Web Development - AskTHEO Membership">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 noPadding">
        <img class="img-fluid" src="https://res.cloudinary.com/alacrity-web-development/image/upload/v1489846183/Alacrity%20Web%20Development%20-%20Seeds%20of%20Life%20Food.jpg" alt="Alacrity Web Development - AskTHEO eCommerce 2">
      </div>
    </div>
  </div>

<% include ../partials/footer %>
